.id {
    color: #fff;
    font-size: 3rem;
}

.bg {
    background-color: #000;
    padding: 3rem 2rem;
}

.headingClr {
    color: #ff0000;
    font-size: 1.4rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.url {
    text-decoration: none;
}